.i{
    position: absolute;
    left:580px;
}
.p{
    position: absolute;
    left:200px;
}
.l{
    height: 80px;
}
.o{
    position: absolute;
    left:860px;
    bottom:48px;
}
.r{
    position: absolute;
    left:100px;
    top: 40px;
}
.t{
    position: absolute;
    left:500px;
}
.u{
    position: absolute;
    left:1200px;
    top: 30px;
    width: 250px;
height: 50px;
}
.y{
    position:absolute;
    left: 1100px;
    bottom: -3px;
}