#ri{
    height:800px;
  
  }
  
  #ee {
   width:230px;
  
  }
  .e{
      font-size: 30px;
      padding-left: 5px;
  }
  #rr{
      margin-left: 1050px;
  }
  .q{
      position: relative;
     
      font-family: sans-serif;
      font-size: 30px;
      padding-left: 50px;
  }
  .q1{
     font-size: 16px;
     font-family: sans-serif;
     margin-left: 770px;
     font-weight: normal;
  }
  .q11{
    
      font-size: 16px;
      font-family: sans-serif;
      margin-left: 5px;
      font-weight: normal;
   
  }
  .qq{
      position: relative;  
      font-size: 20px;
  }
  
  .p{
    position: absolute;
    right:1420px;
    top:90px;
  }
  .ed{
   position: absolute;
   left: 1330px;
   top: 80px;
   border-color: #5502fc;
     
  }
  .w{
      font-size: 60px;
  }
  .a{
   position: absolute;
   top:60px;
   right:800px;
    font-size: 20px;
    padding-left: 50px;
    width: 600px;
  }
  .t {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
   
  }
  .mat-table {
   
    overflow: auto;
    max-height: 500px;
    margin-top: 80px;
  }
  .po{
    padding-left: 50px;
    padding-right: 25px;
  }
  .p1
  {
     margin-right: 750px;
  }
  
  #x{
     padding: 3px;
  
  }
  